body {
  background-color: black;
  color: white;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.main-card h1 {
  margin: 0;
}

.centered {
  text-align: center !important;
}

.title {
  font-size: 8rem;
  margin-bottom: 10px !important;
}
