# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Validate backend.

on:
  push:
    branches: [master]
    paths: ["backend/**"]
  pull_request:
    branches: [master]
    paths: ["backend/**"]

jobs:
  validate-unit-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.12.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: cd backend && npm install
      - run: cd backend && npm run prettier:check
      - run: cd backend && npm run test-unit

  validate-integration-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.12.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: cd backend && npm install
      - run: cd backend && npm run test-integration
